    <!-- ================== COURSES ================== -->
    <section class="courses" id="courses">
        <div class="max-width">
            <h2 class="title">Our Courses</h2>
            <% if (courses.length > 0) { %>
            <div class="carousel owl-carousel owl-theme">
                    <% courses.forEach(course => { %>
                        <div class="card-slide">
                            <div class="box">
                                <img src="../assets/images/card1.jpg" alt="">
                                <div class="course-title"><a href="/course-home/<%= course._id %>"><%= course.title %></a></div>
                        <p><%= course.short_description %></p>
                    </div>
                </div>
                    <% }) %>
            </div>
            <% } else {%>
                <h3>There are no courses available</h3>
            <% } %>
        </div>
    </section>
