<footer id="footer">

    <div class="footer-top">
      <div class="container py-0 my-0">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Athena<span>.</span></h3>
            <p>
              Institute Cultural Council <br>
              IIT Bombay<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Navigate to</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/about-us">About us</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="/all-courses">Courses</a></li> -->
              <li><i class="bx bx-chevron-right"></i> <a href="/all-clubs">Clubs</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          Made by team <b>Athena</b>
        </div>
      </div>
      <div class="social-links text-center text-md-end pt-3 pt-md-0">
        <a href="https://www.facebook.com/IITBCult" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/culturals.iitb/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.linkedin.com/company/culturals-iit-bombay" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer>