<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Athena</title>
    <!-- UNICONS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    
    <!-- STYLESHEET -->
    <!-- <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" /> -->
    
    <link rel="stylesheet" href="assets/css/styles.css">

    <!-- SWIPER CSS -->
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">

    <!-- TYPING ANIMATION JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>


    <!-- JS & JQUERY -->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
</head>

<body>
    <!-- ================== NAVBAR ================== -->
    <%- include('./partials/navbar.ejs') %>
    <!-- ==================== HOME =================== -->
    <section class="home" id="home">
        <div class="max-width">
            <div class="home-content">
                <div class="heading-primary">Athena</div>
                <div class="heading-2"><span class="typing"></span></div>
                <div class="heading-secondary"><a href="#">View All Courses <i class="uil uil-arrow-right button-icon"></i></a></div>
            </div>
        </div>
    </section>

    <!-- ================== COURSES ================== -->
    <section class="courses" id="courses">
        <div class="max-width">
            <h2 class="title">Our Courses</h2>
            <div class="carousel owl-carousel owl-theme">
                <div class="card-slide">
                    <div class="box">
                        <img src="../assets/images/card1.jpg" alt="">
                        <div class="course-title">Course 1</div>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="card-slide">
                    <div class="box">
                        <img src="../assets/images/card2.jpg" alt="">
                        <div class="course-title">Course 2</div>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="card-slide">
                    <div class="box">
                        <img src="../assets/images/card3.jpg" alt="">
                        <div class="course-title">Course 3</div>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="card-slide">
                    <div class="box">
                        <img src="../assets/images/card4.jpg" alt="">
                        <div class="course-title">Course 4</div>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="card-slide">
                    <div class="box">
                        <img src="../assets/images/card5.jpg" alt="">
                        <div class="course-title">Course 5</div>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="card-slide">
                    <div class="box">
                        <img src="../assets/images/card6.jpg" alt="">
                        <div class="course-title">Course 6</div>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="card-slide">
                    <div class="box">
                        <img src="../assets/images/card7.jpg" alt="">
                        <div class="course-title">Course 7</div>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="card-slide">
                    <div class="box">
                        <img src="../assets/images/card8.jpg" alt="">
                        <div class="course-title">Course 8</div>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ================== FOOTER =================== -->
    <%- include('./partials/footer.ejs') %>
    <!-- SCROLL TOP -->
    <a href="#" class="scrollup" id="scroll-up">
        <i class="uil uil-arrow-up scrollup_icon"></i>
    </a>

    <!-- SWIPER JS -->
    <script src="assets/js/swiper-bundle.min.js"></script>

    <!-- Vendor js -->
    <!-- <script src="assets/js/vendor.min.js"></script> -->

    <!-- App js-->
    <!-- <script src="assets/js/app.min.js"></script> -->



    <script src="assets/js/script.js"></script>
</body>

</html>